* {
	padding: 0;
	margin: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template: .25fr 5fr / 1fr 5fr;
}

#header {
	display: grid;
	grid-area: 1 / 2 / 2 / 3;
	grid-template: repeat(2, 1fr) / repeat(20, 1fr);
	background-color: white;
	align-items: center;
	justify-content: center;
	

}

#search-icon {
	justify-self: end;
}

input {
	background-color: #DBD9DB;
	border-radius: 20px;
	border: none;
	height: 20px;
	grid-area: 1 / 2 / 2 / 12;
}

#notification-icon {
	grid-area: 1 / 16 / 2 / 17;
	justify-self: end;
}

#profile-icon {
	grid-area: 1 / 17 / 2 / 18;
	justify-self: end;
}

#user-name {
	grid-area: 1 / 18 / 2 / 20;
	font-size: 15px;
	justify-self: start;
	align-self: center;
}

#big-profile-icon {
	grid-area: 2 / 1 / 4 / 3;
	height: 50px;
	width: 60px;
	place-self: center;
}

#hey-there {
	grid-area: 2 / 3 / 3 / 5;
	align-self: start;
	font-size: 12px;
}

#header h4 {
	grid-area: 2 / 3 / 3 / 7;
	align-self: center;
	
}


#header .icon {
	height: 20px;	
	width: 20px;
	padding: 20px;
	justify-content: right;
}


button {
	background-color: #45503B;
	height: 30px;
	width: 80px;
	padding: 5px;
	color: white;
	border-radius: 15px;
	font-size: 12px;
}

#new {
	grid-area: 2 / 14 / 4 / 16;
	justify-self: end;
}

#upload {
	grid-area: 2 / 16 / 4 / 18;
	justify-self: end;
}

#share {
	grid-area: 2 / 18 / 4 / 20;
	justify-self: end;
}


#sidebar {
	display: grid;
	grid-template: 1fr 3fr .5fr 1.5fr 1.5fr / 1fr;
	background-color: #45503B;
	grid-area: 1 / 1 / 3 / 2;
	color: white;
	padding: 20px;

}

#sidebar-heading {
	display: grid;
	grid-template: 1fr 1fr / 1fr 3fr;
}

#logo-icon {
	grid-area: 1 / 1 / 2 / 2;
	filter: invert(100%);	
	height: 50px;
	width: 50px;
	justify-self: center;

}

#dashboard {
	grid-area: 1 / 2 / 2 / 5;
	align-self: center;

}

#sidebar-menu-top {
	display: grid;
	grid-area: 2 / 1 / 3 / 2;
	grid-template: repeat(6, 1fr) / 1fr 3fr;
	grid-auto-flow: column;
}

#sidebar-menu-bottom {
	display: grid;
	grid-area: 4 / 1 / 5 / 2;
	grid-template: repeat(3, 1fr) / 1fr 3fr;
	grid-auto-flow: column;
}

#sidebar .icon {	
	height: 20px;
	width: 20px;
	filter: invert(100%);
	place-self: center;	
	
}

a {
	color: white;
	text-decoration: none;
	align-self: center;
}


#main-content {
	display: grid;
	grid-area: 2 / 2 / 3 / 3;
	grid-template: 1fr / 2fr .75fr;
	background-color: #DBD9DB;

}

#card-container {
	display:grid;
	grid-area: 1 / 1 / 2 / 2;
	grid-template: .15fr repeat(3, 1fr) / repeat(2, 1fr);
	background-color: #DBD9DB;
	grid-auto-flow: column;
	gap: 15px;
	padding: 15px;
}

	

#your-projects, #announcements, #trending {
	font-size: 18px;
}

#your-projects {
	grid-area: 1 / 1 / 2 / 4;
	align-self: end;

}


.card {

	display: grid;
	grid-template: .25fr 2fr 1fr / .25fr repeat(3, 1fr) .5fr;
	background-color: white;
	height:160px;
	width: 350px;
	place-self: start;
	border-radius: 10px;
	border-left: solid 10px #B098A4;
	padding: 30px;
	font-size: 14px;
	

}

.card-header {
	align-self: end;
	grid-area: 1 / 2 / 2 / 5;

}

.card p {
	align-self: center;
	grid-area: 2 / 2 / 2 / 5;

}

 
.icon {
	height: 20px;
	width: 20px;
}

.star {
	grid-area: 3 / 3 / 4 / 4;
	justify-self: end;
	align-self: center;
}

.eye {
	grid-area: 3 / 4 / 4 / 5;
	justify-self: center;
	align-self: center;
}

.share {
	grid-area: 3 / 5 / 4 / 6;
	justify-self: start;
	align-self: center;
}

#last-column {
	display: grid;
	grid-area: 1 / 2 / 2 / 3;
	grid-template: .15fr 1fr .15fr 1fr .15fr / 1fr;
	gap: 15px;
} 

#announcements {
	grid-area: 1 / 1 / 2 / 5;
	align-self: end;
}

#trending {
	grid-area: 3 / 1 / 4 / 5;
	align-self: end;
}	

#announcement-card {
	background-color: white;
	border-radius: 10px;
	padding: 20px;

}

#announcement-card p { 
	font-size: 10px;
	padding-bottom: 10px;
} 

h6 {
	padding-top: 10px;
}

hr {
	justify-self: center;
	width: 90%;
	
}

#trending-card {
	display:grid;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	grid-area: 4 / 1 / 5 / 2;
	grid-template: repeat(4, 1fr) / 1fr 2fr;
	grid-auto-flow: column;

}


img {
	display: grid;
	height: 50px;
	width: 50px;
	place-self: center;
}